.page-section-component .page-section-header {
  color: #001529;
  font-weight: bold;
  display: flex;
  align-items: center;
  padding: 12px 0;
  border-bottom: 1px solid #e8e8e8;
}
.page-section-component .page-section-body {
  padding: 10px 0 10px 10px;
}
