.after-sale-detail-page .after-sale-detail-body {
  background-color: #fff;
  padding: 10px 20px 50px 20px;
}
.after-sale-detail-page .after-sale-detail-body .detail-label {
  font-weight: bolder;
  padding-right: 7px;
}
.good-list-page .goodimg {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
}
.after-sale-detail-page .shuff > div:nth-child(1) > label::before {
  content: '*';
  padding-right: 5px;
  color: red;
}
.after-sale-detail-page .customer-file-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 66px;
  padding: 8px;
  margin: 8px 8px 0 0;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  max-width: 448px;
}
.after-sale-detail-page .customer-file-container .left {
  display: flex;
  justify-content: left;
  align-items: center;
  overflow: hidden;
}
.after-sale-detail-page .customer-file-container .left .pic {
  flex-shrink: 0;
}
.after-sale-detail-page .customer-file-container .left .pic-detail {
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 1;
}
.after-sale-detail-page .customer-file-container .left .pic-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
}
.after-sale-detail-page .customer-file-container .right {
  flex-shrink: 0;
}
.after-sale-detail-page .customer-file-container .pic {
  display: block;
  width: 48px;
  height: 48px;
  overflow: hidden;
  margin-right: 8px;
}
.after-sale-detail-page .customer-file-container .pic-btn {
  padding-right: 5px;
}
.goods-import-page .ant-table-tbody > tr > td {
  background: rgba(255, 255, 255, 0) !important;
}
.goods-import-page .ant-table-tbody > tr > td:hover {
  background: rgba(255, 255, 255, 0) !important;
}
.goods-import-page .red {
  background: red !important;
}
.good-selling-page .editable-cell-value-wrap {
  padding: 5px 12px;
  cursor: pointer;
}
.good-selling-page .editable-row:hover .editable-cell-value-wrap {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 4px 11px;
}
